*{
    .profielfoto{
        width: 100%;
        height: 100%;
        transition: box-shadow 0.3s;
        border-radius: 10px;
    }
    .profielfoto:hover {
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    }
}
